



<div class="container mt-5 w-50 bg-light rounded border">
    <div class="col ">
    <div class="row d-flex text-center">
      <h3>You asked the coach</h3>
    </div>
    <div class="row d-flex text-center">
      <p><%= @question %></p>
    </div>
  </div>
</div>

<div class="container mt-5 w-50 bg-light rounded border">
  <div class="col ">
    <div class="row d-flex text-center">
      <h3>The coach responds:</h3>
    </div>
    <div class="row d-flex text-center">
      <p><%= @response %></p>
    </div>
  </div>
</div>
