<div class="container d-flex justify-content-center w-50 mt-4">
  <div class="col ">
    <div class="row text-center">
      <p>Ask your coach anything</p>
    </div>
      <form action = "/answer" data-turbo = "false">
        <div class="row p-3 h-30 d-flex justify-content-center">
          <input type="text" name = "question" class='w-50'>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <input type="submit" value = "Ask" class='w-25 btn btn-primary'>
          </div>
        </div>
      </form>
    </div>
</div>
